# Use -cpu version to avoid massive GPU downloads and memory errors
tensorflow-cpu
keras
xgboost
scikit-learn
gymnasium
stable-baselines3
shimmy
pandas
numpy
matplotlib
seaborn
plotly
streamlit
joblib
requests
